$margin_px_xs = 5px
$margin_px_sm = 12.5px
$margin_px_md = 25px
$margin_px_lg = 40px
$margin_px_xl = 60px

$padding_px_xs = 5px
$padding_px_sm = 12.5px
$padding_px_md = 25px
$padding_px_lg = 40px
$padding_px_xl = 60px

$font__size-sm = 13px

$font__size-title-normal = 26px

$clr__body-bg = #fafafa
$clr__light-solid = #fafafa
$clr__title = #499b65
$clr__separator = #ddd
$clr__content = #656565