@import '../variables'

.block
	position relative
	display block
	overflow hidden
	
	.title
		font-size $font__size-title-normal
		font-weight bold
		color $clr__title
		padding-bottom $padding_px_sm
		border-bottom 1px solid $clr__separator
		margin-bottom $margin_px_md
		