@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './styles/+base/_base';

@import './styles/+components/_card';
@import './styles/+components/_grid';
@import './styles/+components/_wrapper';
@import './styles/+components/_button';
@import './styles/+components/_block';
@import './styles/+components/_form';
@import './styles/+components/_dialog';